tensorflow_gan==2.1.0
six==1.16.0
matplotlib==3.9.0
numpy==1.26.4

torch==2.3.1
torchvision==0.18.1

absl_py==2.1.0
torchdiffeq==0.2.4
pandas==2.0.3
tensorflow==2.16.1
sacred==0.8.5
tensorflow_hub==0.16.1
tqdm==4.66.4
h5py==3.11.0
scipy==1.13.1
tensorflow_datasets==4.9.6
ml_collections==0.1.1
jax==0.4.30
jaxlib==0.4.30
seaborn==0.13.2
requests==2.32.3
numba==0.60.0
Pillow==10.3.0
PyYAML==6.0.1
scikit_learn==1.5.0
scikit-image==0.24.0
tensorboardX==2.6.2.2
torchtestcase==2018.2
wandb==0.17.2
torchdyn==1.0.6
pyro-ppl==1.9.1
torchcfm==1.0.5
